@tailwind base;
@tailwind components;
@tailwind utilities;

.MuiInputBase-input.MuiOutlinedInput-input {
    padding: 14px 16.5px;
}

.MuiButton-containedPrimary {
    background-color: #c53030;
  }

.MuiButton-containedPrimary:hover {
    background-color: transparent;
    /* ปิด hover */
    color: #3c52b2;
    /* ปิด hover */
}

.MuiList-root.MuiList-padding{
    border-bottom: 1px solid #e0e0e0;
}